<div class="container">
    <h2>I have worked with Tavant,HCL for 5 years. For 3 projects: ACT,UCSD,CSPC</h2>
    <h3>1.In OOPs i know: Java</h3>
    <h3>2.In Framework i know: Spring , Hibernate</h3>
    <h3>3.In Database i know: MySQL ,NoSQL</h3>
    <h3>4.In Testing i know: JUnit, TestNG</h3>
    <h3>5.In WebServices i know: RestAPI</h3>
    <h3>6.In UI Technologies i know: Angular,React,Node</h3>
    <h3>7.In Tools i know: SVN,GIT, Docker,Jenkins</h3>
    <h3>8.I know: MicroServices,Algorithms</h3>

    <span>I will add Question based on there importance:High/Moderate/Low</span>
</div>
